body {
    padding-top: 100px;
 }

 .paginationBttns {
    width: 100%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    color:white;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin:5px;
    background: #0d6efd;
    cursor: pointer;
    color:white;
    text-decoration:none;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: #0b5ed7;
  }
  
  .paginationActive a {
    color: white;
    background-color: #0b5ed7;
  }
  
  .paginationDisabled a {
    color: white;
    background-color: grey;
  }

  .previousBttn, .nextBttn{
      width:50px;
  }