body {
  padding-top: 100px;
}

#root {
  padding-left: 30px;
  padding-right: 30px;
}

.paginationBttns {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  color: white;
}

.paginationBttns a {
  padding: 10px;
  margin: 5px;
  background: #0d6efd;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.paginationBttns a:hover {
  color: white;
  background-color: #0b5ed7;
}

.paginationActive a {
  color: white;
  background-color: #0b5ed7;
}

.paginationDisabled a {
  color: white;
  background-color: grey;
}

.previousBttn,
.nextBttn {
  width: 50px;
}

.video-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.video-thumbnail {
  cursor: pointer;
  max-height: 200px;
}


.fav-icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.alert-container{
  position: absolute;
  top:100%;
  left:0;
  right: 0;
  margin-left: auto; 
  margin-right: auto; 
}

.form-button{
  min-width: 100px;
}
.btn{
  display: flex !important;
  align-items: center;
}
@media(max-width:960px){
  body{
    font-size: 0.7rem !important;
  }

  .btn{
    font-size:0.7rem !important;
  }
} 

@media(max-width:450px){
  .btn{
    font-size:0.6rem !important;
  }
  .list-group-item{
    font-size:0.6rem !important;
  }
}